@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  --btn-orange:linear-gradient(-320deg,#f5b016 0%,#f80 100%);
  --btn-blue:linear-gradient(230deg,#004fe1 0%,#3478f6 100%);

}

.indicator {
  width: auto !important;
}


@layer components{
  /* Heaser Banner */
  .bg_img{
    @apply min-[320px]:h-[600px] min-[1440px]:h-[800px];
  }
  .banner-content{
    @apply align-middle text-center absolute min-[320px]:w-[90%] min-[1440px]:w-[40%] min-[1800px]:w-[30%] min-[320px]:top-[20%] min-[768px]:top-[25%] min-[320px]:left-[5%] min-[1440px]:left-[30%] min-[1800px]:left-[35%];
  }
  .banner-sub-title{
    @apply font-sans font-bold min-[320px]:text-[14px] min-[768px]:text-[18px] min-[768px]:mb-[10px] min-[1400px]:mb-[0px] text-[#f5b016] uppercase;
  }
  .banner-heading{
    @apply font-sans font-bold min-[320px]:text-[30px] min-[768px]:text-[50px] text-[#fff] uppercase min-[320px]:leading-[30px] min-[768px]:leading-[70px] tracking-tight mb-[15px];
  }
  .banner-title{
    @apply font-sans font-medium min-[320px]:text-[14px] text-[#fff] min-[320px]:mx-2 min-[768px]:mx-5 tracking-tightest  mb-[36px];
  }
  .banner-btn{
    @apply flex min-[320px]:flex-wrap justify-center items-center gap-4;
  }
  .banner-trial-btn{
    @apply flex items-center gap-3 pt-[17px] pe-[35px] pb-[16px] ps-[25px] text-[15px] text-[#fff] rounded-[6px] font-sans font-semibold uppercase cursor-pointer;
  }
  .banner-course-btn{
    @apply flex items-center gap-3 pt-[17px] pe-[35px] pb-[16px] ps-[25px] text-[15px] text-[#fff] rounded-[6px] font-sans font-semibold uppercase cursor-pointer;
  }
}

@layer utilities {
/* header Banner */
  .bg_img{
    background-image: url("./assets/bannerImg/slider_image1.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
    position: relative;
  }

  .banner-trial-btn{
    background-image: var(--btn-orange);
  }

  .banner-trial-btn:hover{
    background-image: linear-gradient(-320deg,#f80 0%,#f5b016 100%);
  }

  .banner-course-btn{
    background-image: var(--btn-blue);
  }

  .banner-course-btn:hover{
    background-image: linear-gradient(-320deg,#f80 0%,#f5b016 100%);
  }

  .banner-wrapper{
    min-height: 800px;
    background-color: rgb(0 0 0 / 50%);
    z-index: 2;
  }
}
